<mat-card [style.backgroundColor]="'#292929'" class="dashboard-card">
	<mat-card-header>
		<mat-card-title class="titlename">
			<button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu" xh5osition="before">
				<button mat-menu-item (click)="loginToggle()">Analog</button>
				<button mat-menu-item (click)="signupToggle()">Digital</button>
			</mat-menu>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content class="dashboard-card-content">
		<div class="analog" [@formState]="loginState">
			<iframe
				src="http://free.timeanddate.com/clock/i6xv27cm/n105/szw160/szh160/hoc000/hbw0/hfc000/cf100/hgr0/fiv0/fas14/fac0ff/fdi64/mqc0ff/mqs4/mql12/mqw8/mhcfff/mhl15/mhw4/mhd94/mmv0/hhcbbb/hmcddd/hsceee"
				frameborder="0" width="160" height="160"></iframe>
		</div>
		<div class="digital" [@formState]="signupState">
			<iframe src="http://free.timeanddate.com/clock/i6xv1pmp/n105/fn6/fs34/fc222/tct/pct/ftb/pa8/th1" frameborder="0"
				width="150" height="57" allowTransparency="true"></iframe> </div>
		<div class="date">
			<iframe src="http://free.timeanddate.com/clock/i6xv27cm/n105/fn6/fs26/pa3/tt1" frameborder="0" width="421"
				height="38" allowTransparency="true"></iframe>
		</div>
	</mat-card-content>
</mat-card>
<br /><br /><br /><br /><br /><br />
<!-- <div  [@formState]="loginState">
		<p>login</p>
</div>
<div  [@formState]="signupState">
		<p>
				signup
		</p>
</div> -->
<!-- <button mat-stroked-button id="toggle" (click)="loginToggle()" color="primary">Login/Register</button> -->
<!-- <button mat-stroked-button  (click)="loginToggle()" color="primary">Login</button>
<button mat-stroked-button  (click)="signupToggle()" color="primary">Signup</button> -->