.grid-container {
	margin: 10px;
}
.dashboard-card {
	position: absolute;
	top: 5px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	width: auto;
	height: 21vh;
}
.more-button {
	position: absolute;
	top: 5px;
	right: 10px;
}
.dashboard-card-content {
	text-align: center;
	display: flex;
}
.titlename{
	left: 0px;
}
.analog{
	flex: 0 0   5%;
}
.date {
	flex: 1;
}

/* #outatime {
	margin-right: 15%;
	margin-top: 10px;
} */
