<mat-card class="dashboard-card">


	<mat-card-content class="dashboard-card-content">
			<img src="https://www.plaque-immatriculation-auto.com/modules/plates/thumb.php?src=backgrounds/30x15-Films/outatime.jpg&w=600&f=5,0,0,0,0" id="outatime" alt="outatime" height="20%"
			width="30%">

		<div class="analog">
			<iframe
				src="http://free.timeanddate.com/clock/i6xv27cm/n105/szw160/szh160/hoc000/hbw0/hfc000/cf100/hgr0/fiv0/fas14/fac0ff/fdi64/mqc0ff/mqs4/mql12/mqw8/mhcfff/mhl15/mhw4/mhd94/mmv0/hhcbbb/hmcddd/hsceee"
				frameborder="0" width="160" height="160"></iframe>
		</div>
		<div class="digital">
			<iframe src="http://free.timeanddate.com/clock/i6xv1pmp/n105/fn6/fs34/fc222/tct/pct/ftb/pa8/th1"
				frameborder="0" width="150" height="57" allowTransparency="true"></iframe>
		</div>

	</mat-card-content>
</mat-card>
<br />
