.maindiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.auth {
    display: flex;
    
}
 
.example-card {
    width: 30em;
}

.example-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-card {
    display: flex;
    text-align: center;
    flex-direction: column;
    text-align: center;   
}

.mat-card {
    color: black;
}

.mat-raised-button {
    /* display: flex; */
}

#toggle {
    margin: auto;
    width: 30%;
}

.title {
    text-align: center;
}