/* .maindiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth {
    display: flex;
    
}
 
.example-card {
    width: 30em;
} */

.example-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-card {
    display: flex;
    text-align: center;
    flex-direction: column;
    text-align: center;   
}

.mat-card {
    color: black;
}

.mat-raised-button {
    display: flex;
}
/* 
#toggle {
    float: right;
}
.title {
    text-align: center;
} */