<mat-card class="dashboard-card">
	<mat-card-header>
		<mat-card-title>
			{{currWeather.name}}
			<button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu" xh5osition="before">
				<button mat-menu-item (click)='setLocation()'>Set Current Location</button>
				<button mat-menu-item (click)='removeLocation()'>Remove Current Location</button>
			</mat-menu>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content class="dashboard-card-content">
		<div>
			<h5>Skies: {{currWeather.weather[0].main}}</h5>
			<h6>{{currWeather.weather[0].description}}</h6>
			<h5>Current Temp: {{tempRound(currWeather.main.temp)}}°F</h5>
			<h5>Hi: {{tempRound(currWeather.main.temp_max)}}°F</h5>
			<h5>Lo: {{tempRound(currWeather.main.temp_min)}}°F</h5>
			<h5>Humidity: {{currWeather.main.humidity}}%</h5>
		</div>
	</mat-card-content>
	<mat-form-field>
		<input matInput placeholder="City" [(ngModel)]='city'>
	</mat-form-field>
	<button mat-raised-button (click)='getWeather()'>Search</button>
</mat-card>
