<mat-card class="dashboard-card" [style.backgroundColor]="'#292929'">
        <mat-card-header>
            <mat-card-title class="titlename" style="color: whitesmoke;">
                {{data.name}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xh5osition="before">
                    <button mat-menu-item (click)="openDialog()">Edit</button>
                </mat-menu>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <div class="pic-div">
                <img id="profile-pic" src={{data.avatar}} alt="profile-pic" height="100" width="100">
            </div>
            <div style="color: whitesmoke;" class="other-div">
                <h3>Name: <span style="font-weight: bold">{{data.name}}</span></h3>
                <h3>Email:<span style="color: wheat;"> {{data.email}}</span></h3>
            </div>
        </mat-card-content>
        <!-- <p>HELLO</p>
        <p>{{data.name}}</p> -->
    </mat-card>
