<!-- <p>profile-card works!</p>
<p>Your email:<span style="color: blue"> {{user.email}}</span></p>
<p>Name: {{user.name}}</p>
<p>Password: {{user.password}}</p> -->
<p>profile-card works!</p>
<p>You've got mail</p>
<p>{{user.email ? 'hello' : 'hi'}}</p>
<mat-card class="dashboard-card" [style.backgroundColor]="'#292929'">
	<mat-card-header>
		<mat-card-title class="titlename" style="color: whitesmoke;">
			{{user.name}}
			<button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu" xh5osition="before">
				<button mat-menu-item (click)="openDialog()" >Edit</button>
			</mat-menu>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content class="dashboard-card-content">
        <div class="pic-div">
            <img id="profile-pic" src={{user.avatar}} alt="Smiley face" height="100" width="100">
        </div>
		<div style="color: whitesmoke;" class="other-div">
            <p >Name: <span style="font-weight: bold">{{user.name}}</span></p>
            <P>Email:<span style="color: wheat;"> {{user.email}}</span></P>
            <p>Password: <span style="font-weight: bold" type="password"> {{user.password}}</span>
		</div>
	</mat-card-content>
</mat-card>